{% macro pagination(page, total_pages, base_url) %}
{% if total_pages > 1 %}
<div class="flex justify-center mt-8 mb-4">
    <div class="join">
        {% if page > 1 %}
            <a href="{{ base_url }}?page={{ page-1 }}" class="join-item btn btn-sm">
                <i class="ti ti-chevron-left"></i>
            </a>
        {% else %}
            <button class="join-item btn btn-sm btn-disabled">
                <i class="ti ti-chevron-left"></i>
            </button>
        {% endif %}

        <button class="join-item btn btn-sm btn-active">{{ page }} / {{ total_pages }}</button>

        {% if page < total_pages %}
            <a href="{{ base_url }}?page={{ page+1 }}" class="join-item btn btn-sm">
                <i class="ti ti-chevron-right"></i>
            </a>
        {% else %}
            <button class="join-item btn btn-sm btn-disabled">
                <i class="ti ti-chevron-right"></i>
            </button>
        {% endif %}
    </div>
</div>
{% endif %}
{% endmacro %}
