{% extends 'layout.html' %} {% block head %}
<title>{{translations.account_settings.title}}</title>
{% endblock head %} {% block body %}

<div class="hero min-h-[calc(100vh-8rem)]">
    <div class="card bg-base-200 w-full max-w-sm shadow-xl">
        <div class="card-body">
            <h1 class="card-title justify-center text-2xl font-bold mb-4">
                {{translations.account_settings.title}}
            </h1>

            <ul class="menu bg-base-100 rounded-box mx-auto">
                <li>
                    <a href="/change-username" class="flex items-center gap-2">
                        <i class="ti ti-user-edit text-xl"></i>
                        {{translations.account_settings.username}}
                    </a>
                </li>
                <li>
                    <a href="/change-password" class="flex items-center gap-2">
                        <i class="ti ti-key text-xl"></i>
                        {{translations.account_settings.password}}
                    </a>
                </li>
                <li>
                    <a href="/change-profile-picture" class="flex items-center gap-2">
                        <i class="ti ti-user-circle text-xl"></i>
                        {{translations.account_settings.profile_picture}}
                    </a>
                </li>
                <li>
                    <a href="/change-language" class="flex items-center gap-2">
                        <i class="ti ti-language text-xl"></i>
                        {{translations.account_settings.language}}
                    </a>
                </li>
            </ul>

            <div class="divider"></div>

            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type="submit" class="btn btn-error btn-outline w-full">
                    <i class="ti ti-user-x text-xl"></i>
                    {{ translations.account_settings.delete }}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
