{% extends 'layout.html' %} {% block head %}
<title>{{translations.admin_panel.title }}</title>
{% endblock head %} {% block body %}

<div class="hero min-h-[calc(100vh-8rem)]">
    <div class="card bg-base-200 w-full max-w-sm shadow-xl">
        <div class="card-body">
            <h1 class="card-title text-2xl font-bold justify-center mb-4">
                {{translations.admin_panel.title }}
            </h1>

            <ul class="menu bg-base-100 rounded-box mx-auto">
                <li>
                    <a href="admin/users" class="flex items-center gap-3">
                        <i class="ti ti-users text-2xl text-primary"></i>
                        {{ translations.admin_panel.users }}
                    </a>
                </li>
                <li>
                    <a href="admin/posts" class="flex items-center gap-3">
                        <i class="ti ti-files text-2xl text-secondary"></i>
                        {{ translations.admin_panel.posts }}
                    </a>
                </li>
                <li>
                    <a href="admin/comments" class="flex items-center gap-3">
                        <i class="ti ti-messages text-2xl text-accent"></i>
                        {{ translations.admin_panel.comments }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}
