{% extends 'layout.html' %} {% block head %}
<title>{{ translations.change_password.title }}</title>
{% endblock head %} {% block body %}
<div class="text-center mt-32">
    <form method="post" class="mx-auto w-fit mt-8">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {{
        form.old_password(class_="input input-bordered w-full my-2", placeholder=translations.change_password.current_password
        ) }} {{
        form.password(class_="input input-bordered w-full my-2", placeholder=translations.change_password.new_password) }} {{
        form.password_confirm(class_="input input-bordered w-full my-2", placeholder=translations.change_password.confirm_password
        ) }}
        <button
            type="submit"
            class="btn btn-neutral mt-4"
        >
            {{ translations.change_password.change }}
        </button>
    </form>
</div>
{% endblock body %}
