{% extends 'layout.html' %} {% block head %}
<title>flaskBlog</title>

<meta property="og:type" content="website" />
<meta property="og:title" content="flaskBlog" />
<meta
    property="og:image"
    content="https://raw.githubusercontent.com/DogukanUrker/flaskBlog/main/images/Icon180.ico"
/>
<meta property="og:url" content="{{ request.base_url }}" />
<meta
    property="og:description"
    content="{{ translations.about.description }}"
/>
<meta property="og:site_name" content="flaskBlog" />
<meta name="twitter:site" content="@dogukanurker" />
<meta name="twitter:title" content="flaskBlog" />
<meta
    name="twitter:description"
    content="{{ translations.about.description }}"
/>
<meta
    name="twitter:image"
    content="https://raw.githubusercontent.com/DogukanUrker/flaskBlog/main/images/Icon180.ico"
/>
{% endblock head %} {% block body %}

<div class="container mx-auto px-4">
    <div class="flex justify-between items-center mt-8 max-w-6xl mx-auto">
        {% from "components/category_container.html" import category_container %}
        {{ category_container(translations, category="All") }}
        {% from "components/sort_menu.html" import sort_menu %}
        {{ sort_menu(sort_name, source, translations) }}
    </div>

    <div class="flex flex-wrap justify-center gap-6 mt-8 max-w-7xl mx-auto">
        {% for post in posts %}
            {% from "components/post_card_macro.html" import post_card with context %}
            {{ post_card(post=post, author_profile_picture=get_profile_picture(post[5])) }}
        {% endfor %}
    </div>

    {% from "components/pagination.html" import pagination %}
    {{ pagination(page, total_pages, request.path) }}

    <footer class="footer footer-center p-4 text-base-content/70 text-xs">
        <div>
            <a href="/about" class="link link-primary">{{ translations.about.title }}</a>
            <p>{{ translations.about.credits | safe }}</p>
        </div>
    </footer>
</div>
{% endblock body %}
