{% extends 'layout.html' %} {% block head %}
<title>404 - {{ request.path }}</title>
{% endblock head %} {% block body %}

<div class="hero min-h-[calc(100vh-8rem)]">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-6xl font-bold text-primary mb-4">404</h1>
            <p class="text-xl mb-2">{{translations.not_found.text}}</p>
            <code class="badge badge-lg badge-primary mb-4">{{ request.path }}</code>
            <p class="text-base-content/70 mb-6">{{translations.not_found.sorry}}</p>
            <i class="ti ti-mood-sad text-5xl text-base-content/50 block mb-6"></i>
            <a href="/" class="btn btn-primary">
                <i class="ti ti-home"></i>
                {{translations.not_found.home}}
            </a>
        </div>
    </div>
</div>
{% endblock body %}
