{% extends 'layout.html' %} {% block head %}
<title>{{ translations.password_reset.title }}</title>
{% endblock head %} {% block body %}
<div class="w-fit mx-auto text-center mt-32">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {% if mail_sent %} {{ form.username(class_="input input-bordered w-full
        my-2",
        autocomplete="off",placeholder=translations.password_reset.username) }}
        {{ form.code(class_="input input-bordered w-full my-2",
        autocomplete="off",placeholder=translations.password_reset.code_placeholder)
        }} {{ form.password(class_="input input-bordered w-full my-2",
        autocomplete="off",placeholder=translations.password_reset.new_password)
        }} {{ form.password_confirm(class_="input input-bordered w-full my-2",
        autocomplete="off",placeholder=translations.password_reset.confirm_password)
        }}
        <button type="submit" class="btn btn-neutral mt-4">
            {{ translations.password_reset.reset }}
        </button>
        {% else %} {{ form.username(class_="input input-bordered w-full my-2",
        autocomplete="off",placeholder=translations.password_reset.username) }}
        {{ form.email(class_="input input-bordered w-full my-2",
        autocomplete="off",placeholder=translations.password_reset.email) }}
        <button type="submit" class="btn btn-neutral mt-4">
            {{ translations.password_reset.code }}
        </button>
        {% endif %}
    </form>
</div>
{% endblock body %}
